:root {
  --main: #B68839;
  --secondary: #FBF8F4;
  --accent: #973830;
  --hover-color: #ecd4b6;
}

header {
  box-sizing: border-box;
  margin: 0;
}

.navbar {
  background-color: var(--main);
  color: var(--secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 3rem;
}

.siteName {
  font-size: 1.5rem;
}

.navbar ul {
  align-items: center;
  margin: 0;
  list-style: none;
  display: flex;
  font-size: 17px;
  gap: 3em;
}

.signUp {
  background-color: var(--accent);
  display: inline-block;
  position: relative;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  outline: none;
  transition: 0.2s all;
}

.signUp:active {
  transform: scale(0.95);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}