@import "src/styles/colors";

.inspector {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 95px;
  bottom: 0;
  right: 0;
  width: 200px;
  background-color: #bebeb8;
}

.inspectorCategoryContainer {
  display: flex;
  justify-content: center;
  height: 50px;
  background-color: $main;
}

.inspectorCategoryHeader {
  display: flex;
}

.colorInputWrapper, .maxLinkInputWrapper {
  margin: 15px 20px;
  width: 80%;
}

.maxLinkInputWrapper {
  width: 35%;
}

.labelInputWrapper {
  margin: 15px 15px 15px;
  padding: 5px 15px;
}

