.joint-paper
  .joint-halo.joint-theme-default.toolbar.type-element
  .handle.remove {
  position: relative;
  right: auto;
  bottom: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.joint-paper .joint-halo.joint-theme-default.toolbar .handles {
  margin-left: 0;
}

.joint-paper .joint-halo.joint-theme-default.toolbar .handles:after {
  left: 10px;
}

main .joint-toolbar.joint-theme-default {
  border: 0;
}

body .joint-stencil.joint-theme-default.collapsible {
  padding-top: 10px;
  padding-left: 15px;
}

body .joint-stencil.joint-theme-default.collapsible > .content {
  top: 40px;
}

body .joint-stencil.joint-theme-default .groups-toggle .btn {
  margin: 10px;
}
