.joint-paper .joint-halo.joint-theme-default.toolbar.type-element .handle.remove {
  position: relative;
  right: auto;
  bottom: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.joint-paper .joint-halo.joint-theme-default.toolbar .handles {
  margin-left: 0;
}

.joint-paper .joint-halo.joint-theme-default.toolbar .handles:after {
  left: 10px;
}
