@import "src/styles/colors.scss";

body {
  background-color: #c5c5be;
}

.toolbar {
  background-color: #c5c5be;
}

.button {
  display: flex;
  justify-content: end;
  width: 30px;
  background-color: $accent;
}


