@import "src/styles/colors.scss";

h2 {
  margin: 50px;
}

.diagramName,
.index {
  padding: 20px;
  font-size: 17px;
  font-weight: bold;
}

.wrapper {
  height: 100%;
  overflow: auto;
  background-color: #dbdde1;
}

.box {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr 1fr;
  background-color: #dbdde1;
  align-items: center;
  justify-items: center;
}

.button {
  display: flex;
  justify-content: end;
  width: 30px;
  background-color: $accent;
}
