.canvas {
  width: 100%;
  position: relative;
}

.inspector {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100%;
  background-color: burlywood;
}
.wrapper {
  display: flex;
  height: 100%;
}

.stencilHolder {
  display: flex;
  position: relative;
  width: 200px;
  height: 100%;
}