.canvas {
  width: 100%;
  height: 100%;
  position: relative;
}

.diagramContainer {
  height: 100%;
  display: flex;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.stencilHolder {
  position: relative;
  height: 93%;
  min-width: 220px;
}
