.canvas {
  width: 100%;
  position: relative;
}

.diagramContainer {
  height: 100%;
}

.inspector {
  position: absolute;
  top: 100px;
  bottom: 0;
  right: 0;
  width: 100px;
  background-color: #c9ba91;
}

.wrapper {
  display: flex;
  height: 100%;
  width: 100%;
}

.stencilHolder {
  display: flex;
  position: relative;
  width: 200px;
  height: 100vh;
  min-width: 200px;
}
